<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<p>
  <strong>Hashtags:</strong>
  <%= @message.hashtags %>
</p>

<p>
  <strong>Targets:</strong>
  <%= @message.targets %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @message.notes %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @message.deadline %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
